[Unit]
Description=Download geoip databases
Wants=ooni-download-geoip.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/ooni_download_geoip.py

[Install]
WantedBy=multi-user.target
