{% extends 'base.html' %}

{% block navbar %}

<header>
<div class="hero">
  <img
    src="{{ url_for('static', filename='dist/images/API-Horizontal-MonochromeInverted.png') }}"
    srcset="{{ url_for('static', filename='dist/images/API-Horizontal-MonochromeInverted@2x.png') }} 2x"
  />

  {% include 'navbar-home.html' %}
</header>

</div>

{% endblock %}

{% block uncontained %}
  <div class="container">
    <div class="text-center">
      <h1>Welcome to the OONI API</h1>
      <p>Dynamically updated every day, the OONI API enables researchers and
      data scientists to analyze all data collected from OONI Probes around the
      world.</p>
      <p>Download and search <a href="https://ooni.org/install">OONI Probe</a> network measurements.</p>
      <p>Join the OONI data analyst community and help uncover internet censorship worldwide!</p>
      <a class='btn btn-default read-the-docs' href="/api/">READ THE API DOCS</a>

  </div>
</div>
{% endblock %}
