<div class="navbar-wrapper">
  <div class="container">
    <div class="row">
      <div class="pull-left">
        <a class="btn" href="/">
          <img
            src="{{ url_for('static', filename='dist/images/API-Horizontal-MonochromeInvertedSmall.png') }}"
            srcset="{{ url_for('static', filename='dist/images/API-Horizontal-MonochromeInvertedSmall@2x.png') }} 2x"
          />
        </a>
      </div>
      <div class="text-center">
        <a class="btn-nav{%- if request.path.startswith("/files") %} active{% endif %}" href="/files">Files</a>
        <a class="btn-nav" href="/api">API docs</a>
        <a class="btn-nav {%- if request.path.startswith("/stats") %} active{% endif %}" href="/stats">Statistics</a>
      </div>
    </div>
  </div>
</div>
