{% extends 'base.html' %}

{% block head_css %}
  {{ super() }}
  <link href="{{ url_for('static', filename='dist/css/stats.css') }}"
        rel="stylesheet">

{% endblock %}

{% block uncontained %}

  <div class="container">
    <div class="page-header">
      <h1>Measurement statistics</h1>
    </div>
    <div class="row">
      <p>Here you will be able to see some usage statistics for OONI.</p>
      <p><strong>Note:</strong> they requires javascript and svg rendering
        (you should switch to medium-low security in Tor Browser Bundle for
        them to show properly).
      </p>
    </div>

    <div class="row">

      <div id="asn_by_month" class="col-md-6">
      </div>

      <div id="countries_by_month" class="col-md-6">
      </div>

    </div>

    <div class="row">

      <div id="runs_by_month" class="col-md-6">
      </div>

    </div>

  </div>
{% endblock %}

{% block tail_js %}

  {{ super() }}

  <script src="{{ url_for('static', filename='dist/js/stats.js') }}"></script>

{% endblock %}
