# Emacs temp files: 
*~
*.*~
\#*\#
.\#*

# Python binary and object files:
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject]

# PyCharm directory:
.idea/*

# config.tor_datadir directory:
tmp/*

# openssl certificates, keys, signing requests:
*.crt
*.csr
*.key

# logs and private files:
*.log
*.private

# from "python setup.py install --record installed-files.txt": 
installed-files.txt

# client config:
oonib.conf

oonib.pid

# Local vagrant files
/.vagrant/
