client.cfg
.DS_Store
_build
_resources
*.log
*.pyc
invoke.yaml
pipeline/helpers/settings.py
remote_syslog.pid
*.swp
*.env
.idea/
.vagrant/
af/oometa/tsv/
af/oometa/tsvdump.dir/
/testdata/
.tox/
af/fastpath/var/
af/fastpath/etc/
