.DS_Store
*.py[co]
__pycache__

.coverage
.cache/
.idea/
.state/

ooni_measurements.db
./data/

node_modules/
package-lock.json

measurements/static/dist/

# Travis secrets
secrets/id_rsa_travis
secrets/secrets.env
secrets/secrets.tar
config/secrets.env

make.conf
venv/
