core:
  tmp_dir: "/tmp"
  ssh_private_key_file: null
  ooni_pipeline_path: null
aws:
  access_key_id: ""
  secret_access_key: ""
  ssh_private_key_file: "private/ooni-pipeline.pem"
kafka:
  hosts: "127.0.0.1:9092"
logging:
  filename: "ooni-pipeline.log"
  level: "INFO"
spark:
  spark_submit: "/home/hadoop/spark/bin/spark-submit"
  master: "yarn-client"
postgres:
  host: "localhost"
  database: "report"
  username: "ooni"
  password: ""
  table: "metrics"
celery:
  broker_url: ""
  result_backend: ""
ooni:
  bridge_db_path: "s3n://ooni-private/bridge_reachability/bridge_db.json"
