main:
    report_dir: data/reports/
    archive_dir: data/archive/
    input_dir: data/inputs/
    deck_dir: data/decks/
    policy_file: data/policy.yaml
    bouncer_file: data/bouncer.yaml

    logfile: null
    tor_datadir: null
    database_uri: 'sqlite://oonib_test_db.db'
    db_threadpool_size: 10
    tor_binary: null
    socks_port: 9055
    tor2webmode: false
    pidfile: 'oonib.pid'
    nodaemon: true
    originalname: null
    chroot: null
    rundir: .
    umask: null
    euid: null
    uid: null
    gid: null
    uuid: null
    no_save: true
    profile: null
    debug: false
    stale_time: 3600

    tor_hidden_service: true

helpers:
    http-return-json-headers:
        address: null
        port: 57001
        server_version: Apache

    tcp-echo:
        address: null
        port: 57002

    daphn3:
        address: null
        yaml_file: null
        pcap_file: null
        port: 57003

    dns:
        address: null
        udp_port: 57004
        tcp_port: 57005
        resolver_address: '8.8.8.8:53'

    dns_discovery:
        address: null
        udp_port: 53
        tcp_port: 53
        resolver_address: null

    ssl:
        address: null
        private_key: 'private.key'
        certificate: 'certificate.crt'
        port: 57006
