PyYAML>=3.10
Twisted>=12.2.0
cyclone>=1.0-rc13
ipaddr>=2.1.10
pygeoip>=0.2.5
# Originally fetched from the hg repo on secdev.org:
#   https://hg.secdev.org/scapy/archive/tip.zip#egg=scapy
# This is a Tor Project mirror with valid SSL/TLS certs that is stable and fast:
https://people.torproject.org/~ioerror/src/mirrors/ooniprobe/scapy-02-25-2013-tip.zip#egg=scapy
storm>=0.19
txtorcon>=0.7
