# These are sub-dependencies that we need to pin to avoid version conflicts
pyasn1>=0.1.8
# These are dependencies of oonibackend specifically
PyYaml
Twisted>=13.2.0
cyclone>=1.1
ipaddr>=2.1.10
pygeoip>=0.2.6
txtorcon>=0.11.0
pyOpenSSL>=0.13
zope.component>=4.0.0
zope.event>=4.0.0
zope.interface>=4.0.1
service-identity
