{% extends 'base.html' %}
{% block uncontained %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/files">Files</a></li>
    <li class="active">By country</li>
    <li class="switch-view flag-view pull-right">
      <a href="/files/by_country?view=flag">flag view</a>
    </li>
  </ol>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Country</th>
        <th>Files</th>
      </tr>
    </thead>
    <tbody>
    {% for report_country in report_countries %}
      <tr>
        <td>
          <a href="/files/by_country/{{ report_country['alpha2'] }}">
            {{ report_country['country'] }}
          </a>
        </td>
        <td>
          <a href="/files/by_country/{{ report_country['alpha2'] }}">
            {{ report_country['count'] }}
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
