{% extends 'base.html' %}
{% block uncontained %}
<div class="container">

   <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/files">Files</a></li>
    <li class="active">By date</li>
  </ol>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Files</th>
      </tr>
    </thead>
    <tbody>
    {% for report_date in report_dates %}
      <tr>
        <td>
          <a href="/files/by_date/{{ report_date['date'] }}">
            {{ report_date['date'] }}
          </a>
        </td>
        <td>
          <a href="/files/by_date/{{ report_date['date'] }}">
            {{ report_date['count'] }}
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
