{% extends 'base.html' %}
{% block head_css %}
  {{ super() }}
  <link href="{{ url_for('static', filename='dist/css/by_date.css') }}" rel="stylesheet">
{% endblock %}

{% block uncontained %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/files">Files</a></li>
    <li class="active">By date</li>
    <li class="switch-view simple-view pull-right">
      <a href="/files/by_date?view=list">list view</a>
    </li>
  </ol>

  <div class="row">
    <div class="calendars">
    </div>
  </div>

  <div class="row no-js-warning">
    <div class="col-md-6">
      <p>These charts require javascript and SVG to work properly...</p>
    </div>
  </div>

  <div class="row loading hidden">
    <div class="col-md-6">
      <p>
        Loading charts...<i class="fa-li fa fa-spinner fa-spin"></i>
      </p>
    </div>
  </div>

</div>
{% endblock %}

{% block tail_js %}
  {{ super() }}
  <script src="{{ url_for("static", filename="dist/js/by_date.js") }}"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
{% endblock %}
