{% extends 'base.html' %}
{% block uncontained %}
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/files">Files</a></li>
    {% if by == 'date' %}
      <li><a href="/files/by_date">By date</a></li>
      <li class="active">{{ current_date }}
        ({{ report_files.count() }})
      </li>
    {% else %}
      <li><a href="/files/by_country">By country</a></li>
      <li class="active">{{ current_country }}
        ({{ report_files.count() }})
      </li>
    {% endif %}
  </ol>

  <table class="table table-striped">
  <thead>
  <tr>
    <th>
      {% if order == "asc" %}
        <a href="{{ request.path }}?order_by=probe_asn&order=desc">
        {% if order_by == "probe_asn" %}
          <span class="glyphicon glyphicon-arrow-down"></span>
        {% endif %}
      {% else %}
        <a href="{{ request.path }}?order_by=probe_asn&order=asc">
        {% if order_by == "probe_asn" %}
          <span class="glyphicon glyphicon-arrow-up"></span>
        {% endif %}
      {% endif %}
        ASN</a>
    </th>

    {% if by != 'country' %}
      <th>
        {% if order == "asc" %}
          <a href="{{ request.path }}?order_by=probe_cc&order=desc">
          {% if order_by == "probe_cc" %}
            <span class="glyphicon glyphicon-arrow-down"></span>
          {% endif %}
        {% else %}
          <a href="{{ request.path }}?order_by=probe_cc&order=asc">
          {% if order_by == "probe_cc" %}
            <span class="glyphicon glyphicon-arrow-up"></span>
          {% endif %}
        {% endif %}
          Country code</a>
      </th>
    {% endif %}

    <!--
      This is kind of useless information so we comment it out
    <th>
      {% if order == "asc" %}
        <a href="{{ request.path }}?order_by=report_id&order=desc">
        {% if order_by == "report_id" %}
          <span class="glyphicon glyphicon-arrow-down"></span>
        {% endif %}
      {% else %}
        <a href="{{ request.path }}?order_by=report_id&order=asc">
        {% if order_by == "report_id" %}
          <span class="glyphicon glyphicon-arrow-up"></span>
        {% endif %}
      {% endif %}
        Report ID</a>
    </th>
    -->
    <th>
      {% if order == "asc" %}
        <a href="{{ request.path }}?order_by=test_start_time&order=desc">
        {% if order_by == "test_start_time" %}
          <span class="glyphicon glyphicon-arrow-down"></span>
        {% endif %}
      {% else %}
        <a href="{{ request.path }}?order_by=test_start_time&order=asc">
        {% if order_by == "test_start_time" %}
          <span class="glyphicon glyphicon-arrow-up"></span>
        {% endif %}
      {% endif %}
      Test Start Time</a>
    </th>
    <th>
      {% if order == "asc" %}
        <a href="{{ request.path }}?order_by=test_name&order=desc">
        {% if order_by == "test_name" %}
          <span class="glyphicon glyphicon-arrow-down"></span>
        {% endif %}
      {% else %}
        <a href="{{ request.path }}?order_by=test_name&order=asc">
        {% if order_by == "test_name" %}
          <span class="glyphicon glyphicon-arrow-up"></span>
        {% endif %}
      {% endif %}
      Test Name</a>
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for report_file in report_files %}
    <tr>
      <td>
        AS{{ report_file.probe_asn }}
      </td>

      {% if by != 'country' %}
        <td>
          {{ report_file.probe_cc }}
        </td>
      {% endif %}

      <!--
        This is kind of useless so we comment it out for the moment
      <td>
        {{ report_file.report_id }}
      </td>
      -->
      <td>
        {{ report_file.test_start_time }}
      </td>
      <td>
        {{ report_file.test_name }}
      </td>
      <td>
        <a href="/files/download/{{ report_file.textname }}">Download</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}
