[Unit]
Description=OONI Analysis
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/analysis
Restart=on-failure
Type=simple
RestartSec=2s
WorkingDirectory=/var/lib/analysis

WatchdogSec=600s

User=fastpath
Group=fastpath
ReadOnlyDirectories=/
ReadWriteDirectories=/proc/self
ReadWriteDirectories=/var/lib/analysis
ReadWriteDirectories=/run/nodeexp/

StandardOutput=syslog+console
StandardError=syslog+console

PermissionsStartOnly=true
LimitNOFILE=65536

# Hardening
CapabilityBoundingSet=CAP_SETUID CAP_SETGID
SystemCallFilter=~@cpu-emulation @debug @keyring @module @mount @obsolete @raw-io @resources @clock @debug @keyring @mount @privileged @reboot @setuid @swap @memlock

NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full
ProtectKernelModules=yes
ProtectKernelTunables=yes

[Install]
WantedBy=multi-user.target
