[Unit]
Description=Update tables daily
Wants=ooni-update-daily.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/analysis --update-tables-daily

[Install]
WantedBy=multi-user.target

