[Unit]
Description=Update counters
Wants=ooni-update-counters.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/analysis --update-counters

[Install]
WantedBy=multi-user.target

