[Unit]
Description=Update counters
Requires=ooni-update-counters.service

[Timer]
Unit=ooni-update-counters.service
# WARNING: the update interval must match the timedelta in the code
OnCalendar=*-*-* *:00/10

[Install]
WantedBy=timers.target
