[Unit]
Description=Update ASN metadata
Wants=ooni-update-asn-metadata.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/analysis --update-asnmeta

[Install]
WantedBy=multi-user.target

