[Unit]
Description=Update counters
Requires=ooni-update-counters.service

[Timer]
Unit=ooni-update-counters.service
OnCalendar=*-*-* *:00/01

[Install]
WantedBy=timers.target
