[Unit]
Description=Back up database tables
Wants=ooni-db-backup.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/ooni-db-backup

[Install]
WantedBy=multi-user.target

