Source: analysis
Section: python
Priority: optional
Maintainer: Federico Ceratto <federico@debian.org>
Build-Depends: debhelper-compat (= 13),
 python3,
 dh-python,
 python3-lz4,
 python3-setuptools,
Standards-Version: 4.6.0

Package: analysis
Architecture: all
Depends: ${misc:Depends},
 ${python3:Depends},
 python3-clickhouse-driver,
 python3-digitalocean,
 python3-filelock,
 python3-sdnotify,
 python3-smart-open,
 python3-statsd,
 python3-systemd,
 zstd,
Suggests:
 python3-pytest,
Description: OONI Analysis tools
 OONI Analysis tools and test-helper rotation
