[Unit]
Description=Clickhouse feeder
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/clickhouse_feeder.py
Restart=on-abort
Type=simple
RestartSec=2s

User=fastpath
Group=fastpath
ReadOnlyDirectories=/
ReadWriteDirectories=/proc/self
ReadWriteDirectories=/var/lib/analysis
StandardOutput=syslog+console
StandardError=syslog+console

PermissionsStartOnly=true
LimitNOFILE=65536

# Sandboxing
CapabilityBoundingSet=CAP_SETUID CAP_SETGID
SystemCallFilter=~@clock @debug @cpu-emulation @keyring @module @mount @obsolete @raw-io @reboot @swap
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full
ProtectKernelModules=yes
ProtectKernelTunables=yes

[Install]
WantedBy=multi-user.target
