[Unit]
Description=Update fingerprints
Wants=ooni-update-fingerprints.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/analysis --update-fingerprints

[Install]
WantedBy=multi-user.target

