[Unit]
Description=Update ASN metadata
Requires=ooni-update-asn-metadata.service

[Timer]
Unit=ooni-update-asn-metadata.service
OnCalendar=Wed *-*-* 15:00:00
Persistent=true

[Install]
WantedBy=timers.target
