[Unit]
Description=Update citizenlab test lists
Wants=ooni-update-citizenlab.timer

[Service]
Type=oneshot
EnvironmentFile=/etc/ooni/analysis.env
ExecStart=/usr/bin/analysis --update-citizenlab ${EXTRA_ARGS}

[Install]
WantedBy=multi-user.target

