[Unit]
Description=Update ASN metadata
Wants=ooni-update-asn-metadata.timer

[Service]
Type=oneshot
EnvironmentFile=/etc/ooni/analysis.env
ExecStart=/usr/bin/analysis --update-asnmeta ${EXTRA_ARGS}

[Install]
WantedBy=multi-user.target

