[Unit]
Description=Update fingerprints
Wants=ooni-update-fingerprints.timer

[Service]
Type=oneshot
EnvironmentFile=/etc/ooni/analysis.env
ExecStart=/usr/bin/analysis --update-fingerprints ${EXTRA_ARGS}

[Install]
WantedBy=multi-user.target

