[Unit]
Description=Rotate test helpers
Requires=ooni-rotation.service

[Timer]
Unit=ooni-rotation.service
OnCalendar=Mon *-*-* 15:00:00
Persistent=true

[Install]
WantedBy=timers.target
