include data/decks/README
include data/inputs/Makefile
include data/reports/empty.txt
include data/archive/empty.txt
include data/tor/empty.txt
include data/bouncer.yaml
include data/policy.yaml
include oonib.conf.example
include requirements.txt
include AUTHORS
include HACKING
include LICENSE
include MANIFEST.in
include README.rst
include ChangeLog.rst
