Source: detector
Section: python
Priority: optional
Maintainer: Federico Ceratto <federico@debian.org>
Build-Depends: debhelper-compat (= 12),
 python3,
 dh-systemd (>= 1.5),
 dh-python,
 python3-clickhouse-driver,
 python3-setuptools,
 python3-statsd,
 python3-systemd
Standards-Version: 4.1.3

Package: detector
Architecture: all
Depends: ${misc:Depends},
 ${python3:Depends},
 python3-clickhouse-driver,
 python3-setuptools,
 python3-statsd,
 python3-systemd
Suggests:
 bpython3,
 python3-pytest,
 python3-pytest-benchmark
Description: OONI Event Detector
 OONI Event Detector
