[Unit]
Description=Run event detector
Requires=detector.service

[Timer]
Unit=detector.service
# Every 10 mins
OnCalendar=*:00/10:00
Persistent=true

[Install]
WantedBy=timers.target
