// Dependencies
@import "fonts";

/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Fira Sans", "Lucida", "Calibri", "Myriad", "Helvetica", "Arial", sans-serif;
  vertical-align: baseline;
}


@import "bootstrap-variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap";

$fa-font-path: "../fonts/font-awesome";
@import "font-awesome/scss/font-awesome";

// Colors
$color-ooni-blue: #0588CB;
$color-dark-blue: #046799;
$color-white: #fff;
$color-off-white: #f2f2f2;
$color-footer-background-color: #26292c;
$color-footer-color: #b4b4b4;
$color-blocked: #B83564;
$color-unblocked: #4FD156;
$color-red: #cc0000;
$color-grey-light: #d9d9d9;
$color-grey: #c1c1c1;
$color-off-black: #777777;

html {
  color: #1c1c1c;
  background-color: $color-white;
  min-height: 100%;
  position: relative;
}

body {
  /* This must match height of footer */
  margin-bottom: 100px;

  padding-bottom: 60px;
}

a {
  text-decoration: none;
  color: $color-ooni-blue;
}

footer {
  color: $color-footer-color;
  background-color: $color-footer-background-color;
  text-align: center;
  padding-top: 20px;

  position: absolute;
  bottom: 0;
  width: 100%;
  /* This must match margin-bottom in body */
  height: 100px;
}


footer a {
  color: $color-footer-color;
  display: block;
  text-align: left;
}

footer a:hover {
    color: #ebebeb;
    text-decoration: underline;
}

header {
  .navbar-wrapper {
    background-color: $color-ooni-blue;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.hero {
  background-color: $color-ooni-blue;
  text-align: center;
  padding-top: 90px;

  img {
    padding-bottom: 60px;
  }

  margin-bottom: 40px;
}

.read-the-docs {
  margin-top: 20px;
}

.breadcrumb .switch-view:before {
  content: "  ";
}

.breadcrumb .switch-view:after {
  font-family: FontAwesome;
  color: $color-grey;
  vertical-align: middle;
}

.breadcrumb .calendar-view:after {
  margin-left: 5px;
  content: "\f073";
}

.breadcrumb .simple-view:after {
  margin-left: 5px;
  content: "\f03a";
}

.breadcrumb .flag-view:after {
  margin-left: 5px;
  content: "\f024";
}

.btn-nav {
  @extend .btn;
  border-radius: 0;
  color: #fff;
  @include opacity(.65);
  border-bottom: 2px solid transparent;
  box-shadow: none;

  &:active,
  &.active {
    @include opacity(1);
    box-shadow: none;
    border-bottom: 2px solid #fff;
  }

  &:hover,
  &:focus,
  &.focus{
    @include opacity(1);
    box-shadow: none;
    border-bottom: 2px solid #fff;
  }
}

// Fix bootstrap table alignment
.table td,th {
   text-align: center !important;
}
