# Configuration for OONI API. This is a sample file specific to the OONI setup
# Syntax: treat it as a Python file, but only uppercase variables are used
COLLECTORS = []
COLLECTOR_ID = "X"  # usually an integer

DATABASE_STATEMENT_TIMEOUT = 30

CLICKHOUSE_URL = "clickhouse://clickhouse:9000/default"

BASE_URL = "https://api.ooni.io/"
# list of URLs: strings starting with "^" will be converted to regexps
CORS_URLS = [r"^https://[-A-Za-z0-9]+\.ooni\.org$", r"^https://[-A-Za-z0-9]+\.ooni\.io$"]
AUTOCLAVED_BASE_URL = "http://datacollector.infra.ooni.io/ooni-public/autoclaved/"

# S3 endpoint
S3_ACCESS_KEY_ID = "CHANGEME"
S3_SECRET_ACCESS_KEY = "CHANGEME"
S3_BUCKET_NAME = "ooni-data-eu-fra"
S3_SESSION_TOKEN = "CHANGEME"
S3_ENDPOINT_URL = "CHANGEME"

PSIPHON_CONFFILE = "/etc/ooni/psiphon_config.json"
TOR_TARGETS_CONFFILE = "/etc/ooni/tor_targets.json"

# Registration email delivery
MAIL_SERVER = "CHANGEME"
MAIL_PORT = 465
MAIL_USE_SSL = False
MAIL_USERNAME = "CHANGEME"
MAIL_PASSWORD = "CHANGEME"
MAIL_SOURCE_ADDRESS = "contact@ooni.org"
LOGIN_BASE_URL = "https://CHANGEME/login"

JWT_ENCRYPTION_KEY = "CHANGEME"

SESSION_EXPIRY_DAYS = 2
LOGIN_EXPIRY_DAYS = 7

GITHUB_ORIGIN_REPO = "citizenlab/test-lists"
GITHUB_PUSH_REPO = "ooni-bot/test-lists"
GITHUB_TOKEN = "CHANGEME"
GITHUB_USER = "CHANGEME"
GITHUB_WORKDIR = "/var/lib/ooniapi/citizenlab"

MSMT_SPOOL_DIR = "/tmp/oonispool"
GEOIP_ASN_DB = "/var/lib/ooniapi/asn.mmdb"
GEOIP_CC_DB = "/var/lib/ooniapi/cc.mmdb"
