@font-face {
  font-family: "Fira Sans";
  src: url('../fonts/fira-sans/fira-sans-latin-300.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Fira Sans";
  src: url('../fonts/fira-sans/fira-sans-latin-400.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Fira Sans";
  src: url('../fonts/fira-sans/fira-sans-latin-400italic.woff') format('woff');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Fira Sans";
  src: url('../fonts/fira-sans/fira-sans-latin-600.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Fira Sans";
  src: url('../fonts/fira-sans/fira-sans-latin-700.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}
