rect.cell:hover {
  stroke: #555555;
  stroke-width: 1px;
}

rect.cell-selected {
  stroke: #555555;
  stroke-width: 1px;
}

.cell-tooltip {
  position: absolute;
  z-index: 9999;
  padding: 5px 9px;
  color: #bbbbbb;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 3px;
  text-align: center;
}

a.date-opener {
  position: absolute;
  z-index: 9999;
  padding: 5px 9px;
  font-size: 12px;
  border-radius: 3px;
  text-align: center;

  top: 22px;
  left: 100px;

  background-color: #0588CB;
  color: #fff;
}

a:hover.date-opener {
  //background-color: $color-dark-blue;
  background-color: #046799;
  color: #fff;
}
