/*
// Colors
$color-ooni-blue: #0588CB;
$color-dark-blue: #046799;
$color-white: #fff;
$color-off-white: #f2f2f2;
$color-footer-background-color: #26292c;
$color-footer-color: #b4b4b4;
$color-blocked: #B83564;
$color-unblocked: #4FD156;
$color-red: #cc0000;

$color-grey-light: #d9d9d9;
$color-grey: #c1c1c1;

$color-off-black: #777777;
*/

html {
    color: #1c1c1c;
    background-color: #fff;
    min-height: 100%;
    position: relative;
}

body {
    /* This must match height of footer */
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: #0588cb;
}

footer {
    color: #b4b4b4;
    background-color: #26292c;
    text-align: center;
    padding-top: 20px;

    position: absolute;
    bottom: 0;
    width: 100%;
    /* This must match margin-bottom in body */
    height: 100px;
}


footer a {
    color: #b4b4b4;
    display: block;
    text-align: left;
}

footer a:hover {
    color: #ebebeb;
    text-decoration: underline;
}

