#!/bin/bash
source {{ ansible_env.HOME }}/virtualenvs/{{virtualenv_name}}/bin/activate
cd {{ ansible_env.HOME }}/ooni-pipeline-ng/
echo "Started heroku" > ooni-pipeline.log
/usr/local/bin/remote_syslog -d {{papertrail_hostname}} -p {{papertrail_port}} ooni-pipeline.log
nohup invoke {{ invoke_command }} &
