Source: fastpath
Section: python
Priority: optional
Maintainer: Federico Ceratto <federico@debian.org>
Build-Depends: debhelper-compat (= 12),
 python3,
 dh-systemd (>= 1.5),
 dh-python
Standards-Version: 4.1.3

Package: fastpath
Architecture: all
Depends: ${misc:Depends},
 ${python3:Depends},
 python3-paramiko,
 python3-statsd,
 python3-systemd
Description: OONI Fastpath
 OONI Fastpath
