Source: fastpath
Section: python
Priority: optional
Maintainer: Federico Ceratto <federico@debian.org>
Build-Depends: debhelper-compat (= 13),
 python3,
 dh-python,
 python3-boto3,
 python3-clickhouse-driver,
 python3-gunicorn,
 python3-lz4,
 python3-psycopg2,
 python3-setuptools,
 python3-statsd,
 python3-systemd,
 python3-ujson,
 python3-yaml
Standards-Version: 4.6.0

Package: fastpath
Architecture: all
Depends: ${misc:Depends},
 ${python3:Depends},
 python3-boto3,
 python3-clickhouse-driver,
 python3-gunicorn,
 python3-lz4,
 python3-psycopg2,
 python3-statsd,
 python3-systemd,
 python3-ujson,
 python3-yaml,
 nginx
Suggests:
 bpython3,
 python3-pytest,
 python3-pytest-benchmark
Description: OONI Fastpath
 OONI Fastpath
