name: Docker Image CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Docker login
      run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
    - name: Build the Docker image
      run: |
        docker build . --file Dockerfile --tag openobservatory/api:$(date '+%Y%m%d')-${GITHUB_SHA::8}
        docker push openobservatory/api:$(date '+%Y%m%d')-${GITHUB_SHA::8}
    - name: Print the built image name
      run: echo "Built and uploaded openobservatory/api:$(date '+%Y%m%d')-${GITHUB_SHA::8}"
