name: Test Fastpath
on: [push, pull_request]

# Run only local tests

jobs:
  build:
    name: Test Fastpath
    runs-on: ubuntu-latest
    container: debian:11
    steps:
      - uses: actions/checkout@v2
      - name: Install deps
        run: |
          apt-get update
          apt-get -y --no-install-recommends install python3-boto3 python3-lz4 python3-psycopg2 python3-setuptools \
          python3-statsd python3-systemd python3-ujson nginx python3-pytest python3-yaml python3-gunicorn \
          python3-pytest-cov mypy python3-clickhouse-driver

      - name: Run mypy
        run: mypy --ignore-missing-imports af/fastpath/fastpath || true

      - name: Run tests
        run: |
          cd af/fastpath
          PYTHONPATH=. pytest-3 -v --junitxml=junit/test-results.xml --cov=fastpath --cov-report=xml --cov-report=html \
            --cov-report=term fastpath/tests/test_unit.py fastpath/tests/test_functional.py

      - name: Archive code coverage HTML pages
        uses: actions/upload-artifact@v2
        with:
          name: coverage
          path: af/fastpath/htmlcov
