name: Run tests for dataapi


jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install poetry
        run: |
          curl -fsS https://install.python-poetry.org | python - --preview -y

      - name: Add poetry to PATH
        run: echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Set up poetry cache
        uses: actions/cache@v3
        with:
          path: "$HOME/.cache/pypoetry/virtualenvs"
          key: venv-${{ runner.os }}-${{ hashFiles('**/api/fastapi/poetry.lock') }}

      - name: Install dependencies
        run: poetry install
        working-directory: ./api/fastapi/

      - name: Run all tests
        env:
          PYTHONUNBUFFERED: "1"
        run: poetry run pytest -s --full-trace --log-level=INFO  --log-cli-level=INFO -v --setup-show --cov=./ --cov-report=xml --cov-report=term oonidataapi/tests
        working-directory: ./api/fastapi/

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v3
        working-directory: ./api/fastapi/
