name: test ooniapi/oonifindings
on: push
jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install hatch
        run: pip install hatch

      - name: Run all tests
        run: make test test-cov
        working-directory: ./ooniapi/services/oonifindings/

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v3
        with:
          flags: oonifindings
          working-directory: ./ooniapi/services/oonifindings/
